img {
  max-width: 100%;
  height: auto;
}
.flex-article .h2, .flex-article .h3, .flex-article .h4, .flex-article h2, .flex-article h3, .flex-article h4 {
  font-weight: 600;
  margin-bottom: 20px;
}
p {
  margin-top: 0;
  margin-bottom: 20px;
}
.flex-article .field--body {
  font-size: 22px;
}
.flex-article .field--body a:not(.btn), p a:not(.btn) {
  color: var(--bs-blue);
}
.flex-article .field--body a:not(.btn):hover, p a:not(.btn):hover {
  color: var(--bs-link-hover-color);
}
.flex-article .field--body .tags a {
  color: inherit;
}
.flex-article .field--body .tags a:hover {
  color: var(--bs-white);
}
.flex-article .field img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
.flex-article .field blockquote {
  font-style: italic;
  padding: 8px 12px;
  border-left: 10px solid #9e9e9e;
  background: #eee;
  position: relative;
}
.flex-article .large-quote {
  position: relative;
  padding: 30px 160px;
}
.flex-article .large-quote::after, .flex-article .large-quote::before {
  font-size: 3.75rem;
  font-family: "Font Awesome 6 Free";
  position: absolute;
}
.flex-article .large-quote::before {
  content: "\f10d";
  top: 0;
  left: 60px;
}
.flex-article .large-quote::after {
  content: "\f10e";
  bottom: 0;
  right: 60px;
}