.page-title {
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 10px;
}
.tags a {
  color: inherit;
  font-size: 14px;
  line-height: normal;
  background: #c7deff;
  padding: 8px 20px;
  margin: 10px 5px;
  border-radius: 26px;
  display: inline-block;
}
.tags a:hover {
  color: var(--bs-white);
  background: var(--bs-primary);
}
.view-frontpage .views-row {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--bs-primary);
}
.bg-dark,
.bg-black,
.bg-dark a,
.bg-black a {
  color: var(--bs-white);
}
.bg-dark a:hover,
.bg-black a:hover {
  color: var(--bs-gray-400);
}
.bg-dark .list-group-item a,
.bg-black .list-group-item a {
  color: inherit;
}
@media (max-width:575px) {
  .nav-tabs {
    flex-direction: column;
  }
}
