#content .page-title {
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 50px;
}

.node-title {
    font-size: 2.5rem;
    margin-bottom: 50px;
}

#content h1, #content .h1, #content h2, #content .h2, #content h3, #content .h3, #content h4, #content .h4, #content h5, #content .h5, #content h6, #content .h6 {
    color: #e72362;
}

.field--name-field-content-component .paragraph{
    margin-bottom: 20px;
}

#region-main-footer {
    border-bottom: 4px solid #e72362;
    font-size: 0.85rem;
}